.topbar-current{height:60px;float:left}
.topbar-current:hover{background:rgba(51, 51, 51, 0.5)}
.topbar-current:active{filter:opacity(0.5)}
.icon{width:45px;height:45px;margin-top:7px;margin-left:10px}
.navlocal{color:#fff;position:relative;top:-15px;margin-left:9px;margin-right:10px;font-weight:bold;font-size:18px}
ul{list-style:none;position:relative}
ul.tabs li a{float:left;margin-left:10px;border-radius:5px 5px 0 0;padding:3px 10px 8px 10px;height:14px;position:relative;bottom:-18px;background:transparent;border:1px solid #fff;border-bottom:none;color:#fff;transition:all 0.2s linear}
ul.tabs li a:hover{background:rgba(255, 255, 255, 0.5);padding:7px 10px 2px 10px;height:20px;bottom:-14px}
ul.tabs li.current a{background:#fff;color:#1382DA;padding:8px 10px 6px 10px;height:initial;bottom:-10px}
.tab-content{clear:both;display:block;margin-top:60px}
#tabc1 #navmenu {height: 44px; border-bottom: 1px solid}